.txtfld1{
	width:20vw;
	margin-top: 2vh;
	margin-left: 10vw;
}
.txtfld2{
	width:50vw;
	margin-top: 2vh;
	margin-left: 10vw;
}
.txtfld3{
	width:20vw;
	margin-top: 20vh;
	margin-left: 2vw;
}
.txtfld4{
	/*width:20vw;*/
	margin-top: -3vh;
	/*margin-left: 2vw;*/
}
.txtfld5{
	/*width:20vw;*/
	margin-top: 0vh;
	margin-left: -5vw;
}
.profile-details{
	width: 75vw;
	margin-top: 4vh;
	margin-left: 1vw;
}
.row{
	margin-left: 0vw;
}
input:disabled {
    color: black;
}
.pvbody{
	background: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%) ;
}