.tags {
  background: transparent;
  color:#fff;
  padding: 1px;
  overflow: hidden;
}

.tag {
  color: #fff;
  font-weight: bold;
  float: left;
  padding: 0px 1px;
  margin-left: 7px;
  border: 2px solid black;
}

 